
<section class="add_books">
    <form action="/books" method="POST">
        <h1>Add new book</h1>

        <label for="">Title: </label>
        <input type="text" name="title">

        <label for="">Author: </label>
        <input type="text" name="author">

        <label for="">Category: </label>
        <input type="text" name="category">

        <label for="">Genre: </label>
        <input type="text" name="genre">

        <label for="">About: </label>
        <input type="text" name="about">

        <label for="">Image URL: </label>
        <input type="text" name="image_url">

        <button type="submit" value="submit">Add book</button>
    </form>
</section>