
<h1>Add new book</h1>

<form action="/books" method="POST">
    <label for="">Title: </label>
    <input type="text" name="title">

    <label for="">Author: </label>
    <input type="text" name="author">

    <label for="">Category: </label>
    <input type="text" name="category">

    <label for="">Genre: </label>
    <input type="text" name="genre">

    <label for="">About: </label>
    <input type="text" name="about">

    <label for="">Image URL: </label>
    <input type="text" name="image_url">

    <button>Add book</button>
</form>
