
<section class="login">
    <form action="/sessions" method="POST">
        <h2>Log in</h2>
        <label for="">Email: </label>
        <input type="text" name="email">

        <label for="">Password: </label>
        <input type="password" name="password">
        
        <button type="submit" value="submit">Submit</button>
    </form>
</section>