
<section class="monthly">
    <form action="/membership_monthly" method="POST">
        <h2>Sign Up</h2>
        <h3>Membership Level</h3>
        <p>You have selected the <strong>Monthly Book Club Member</strong> membership level.<br>
        Full access to Book Club live events, discussion forums, and member chat.</p>

        <h4>Account Information</h4>

        <label for="">First Name: </label>
        <input type="text" name="first_name">

        <label for="">Last Name: </label>
        <input type="text" name="last_name">

        <label for="">Email: </label>
        <input type="text" name="email">

        <label for="">Password: </label>
        <input type="password" name="password">

        <h4>Payment Information</h4>
        <label for="">Card number: </label>
        <input type="text" name="card_number">

        <label for="">Expiration Date: </label>
        <input type="text" name="card_expiry_date">

        <label for="">CVC: </label>
        <input type="text" name="card_cvc">
        
        <button type="submit" value="Submit">Submit and Check Out</button>
    </form>
</section>  