
<section class="signup">
    <form action="/users" method="POST">
        <h2>Sign up</h2>

        <label for="">First Name: </label>
        <input type="text" name="first_name">

        <label for="">Last Name: </label>
        <input type="text" name="last_name">

        <label for="">Email: </label>
        <input type="text" name="email">

        <label for="">Password: </label>
        <input type="password" name="password">
        
        <button type="submit" value="Submit">Sign up</button>
    </form>
</section>  

<div class="cancel_btn">
    <form action="/">
        <button class="cancel_btn" type="submit" value="cancel">Cancel</button>
    </form>
</div>
